<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div id="header" class="header" th:fragment="header">
    <div class="header-right">
        <a href="/">Home</a>
        <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" href="/users-list">Users</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
        <a href="/graphics">Graphics</a>
        <a sec:authorize="isAuthenticated()"  href="/shop">Shop</a>
    </div>
    <div class="header-left">
        <a sec:authorize="isAuthenticated()" href="/basket">
            <img th:src="@{/img/ic_shopping_cart.png}" src="../static/img/ic_shopping_cart.png" width="30" height="30" alt="Shopping cart"/>
        </a>
        <a class="basket" style="color: #499fe2; vertical-align: center;" sec:authorize="isAuthenticated()" href="/account" sec:authentication="name"></a>
        <a class="basket" sec:authorize="isAuthenticated()" href="/logout">Log out</a>
        <a class="basket" sec:authorize="!isAuthenticated()" href="/register">Register</a>
        <a class="basket" sec:authorize="!isAuthenticated()" href="/login">Log in</a>
        <span class="basket" sec:authorize="hasRole('ADMIN')" style="color: #499fe2; font-weight: bold"> ADMIN USER </span>
    </div>
</div>

<div th:fragment="footer">
    <footer id="footer">
        <audio id = "player" src = "../../sound/music1.mp3" th:src="@{../sound/music1.mp3}" th:autoplay autoplay></audio>
        <a onclick = "document.getElementById('player').play()">
            <img th:src="@{/img/ic_play_arrow.png}" src="../img/ic_play_arrow.png" width="10" height="10" alt="play music"></a>
        <a onclick = "document.getElementById('player').pause()">
            <img th:src="@{/img/ic_pause.png}" src="../img/ic_pause.png" width="10" height="10" alt="pause music"></a>
        <a onclick = "document.getElementById('player').volume += 0.1">
            <img th:src="@{/img/ic_volume_up.png}" src="../img/ic_volume_up.png" width="10" height="10" alt="volume up music"></a>
        <a onclick = "document.getElementById('player').volume -= 0.1">
            <img th:src="@{/img/ic_volume_down.png}" src="../img/ic_volume_down.png" width="10" height="10" alt="volume down music"></a>


        <!--        <audio style="background-color: black; color: black;" th:src = "@{/sound/music1.mp3}" controls="controls" src="../../sound/music1.mp3" autoplay>-->
        </audio>
        <div class="center">
            <span id="copyright">Copyright © 2020 MRN-Design, Mateusz Niedbał, </span>
            <a href="http://mrndesign.eu" target="_blank">www.mrndesign.eu</a>

        </div>

    </footer>
</div>


</html>