html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginPage-background{
    background-position: center;
    background-image: url('../img/mist.jpg');
}

.project-background{
    background-position: center;
    background-image: url('../img/bckg-project.jpg');
}

.project-background-list{
    background-position: right;
    background-image: url('../img/SIMG_7754.jpg');
}

.index-background{
    background-position: center;
    background-image: url('../img/mist2.jpg');
}

.about-background{
    background-position: left;
    background-image: url('../img/psylocybe-cubensis.jpg');
}

.contact-background{
    background-position: center;
    background-image: url('../img/hermes trismegistos - B-W.jpg');
}

.background-main{
    background-position: center;
    background-image: url('../img/background.jpg');
}

.contenti {
    height: 100%;
    flex: 1;
    padding: 40px;
}

#contented {
    margin-bottom: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.center{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    border-radius: 10px;
}

.button{
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    background-color: #888888;
    color: #000000;
    transition: 0.3s;
}

.smaller-button{
    width: 200px;
}

.bigger-button{
    width: 410px;
}

.button:hover{
    background-color: #cecece;
    color: #202020;
    height: 34px;
    margin: 3px;
}

.smaller-button:hover{
    width: 204px;
}

.bigger-button:hover{
    width: 414px;
}

.login-textfield{
    width: 410px;
    border-radius: 5px;
}

.grid{
    display: grid;
    alignment: center;
}

.grid.graphics{
    grid-template-columns: 80% 20%;
}

.grid50-50{
    grid-template-columns: 50% 50%;
}

.grid.list{
    grid-template-columns: 33% 34% 33%;
}

.grid.single-graphic{
    grid-template-columns: 66% 34%;
}

.frameRound{
    border-style: solid;
    border-radius: 10px;
    border-color: #202020;
    border-width: 3px;
    width: 90%;
}

.frameRound:hover{
    border-color: #6f6f6f;
}

.image-graphic{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    transition: 0.3s;
}

.image-graphic:hover{
    border-width: 6px;
    border-color: #656e66;
}

.captcha{
    width: 30%;
    height: 30%;
    text-align: center;
    transition: 0.3s;
    display: grid;
    alignment: center;
    grid-template-columns: 10% 10% 10% 10% 10%;
}

.captcha-field{
    width: 100%;
    height: fit-content;
    background-color: #000000;
    transition: 0.3s;
    margin: 0;
}



.fill-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}

#top_bottom_right_left{
    background-image: url("../static/img/maze/TRLB.jpg");
}
#top_bottom_right{
    background-image: url("../static/img/maze/TRB.jpg");
}
#top_bottom_left{
    background-image: url("../static/img/maze/TLB.jpg");
}
#top_right_left{
    background-image: url("../static/img/maze/TLR.jpg");
}
#bottom_right_left{
    background-image: url("../static/img/maze/RLB.jpg");
}
#top_bottom{
    background-image: url("../static/img/maze/TB.jpg");
}
#top_left{
    background-image: url("../static/img/maze/TL.jpg");
}
#top_right{
    background-image: url("../static/img/maze/TR.jpg");
}
#bottom_right{
    background-image: url("../static/img/maze/RB.jpg");
}
#bottom_left{
    background-image: url("../static/img/maze/LB.jpg");
}
#left_right{
    background-image: url("../static/img/maze/RL.jpg");
}
#top{
    background-image: url("../static/img/maze/T.jpg");
}
#bottom{
    background-image: url("../static/img/maze/B.jpg");
}
#right{
    background-image: url("../static/img/maze/R.jpg");
}
#left{
    background-image: url("../static/img/maze/L.jpg");
}
#no_entries{
    background-image: url("../static/img/maze/EMPTY.jpg");
}

.centered-margin{
    margin-left: 20%;
    margin-right: 20%;
}


.topdata {
    position: fixed;
    max-width: 100%;
    max-height: 70%;
    margin: auto auto 50%;
    left: 50%;
    top: 30%;
    /*bottom: -30%;*/
    transform: translate(-50%, -30%);
    display: block;
    z-index: 8;
}

.bolded{
    font-weight: bold;
}

#errorRedirectView form label:not(#mailsFromUsLabel):not(#countryLabel):not(#categoryLabel), #errorRedirectView2 form label:not(#mailsFromUsLabel):not(#countryLabel2):not(#categoryLabel2) {
    font-size: 14px;
    color: red;
    font-weight: bold;

}