html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-position: center;
}

.loginPage-background {
    background-position: center;
    background-image: url('../img/mist.jpg');
}

.project-background {
    background-position: center;
    background-image: url('../img/bckg-project.jpg');
}

.project-background-list {
    background-position: right;
    background-image: url('../img/SIMG_7754.jpg');
}

.index-background {
    background-position: center;
    background-image: url('../img/mist2.jpg');
}

.about-background {
    background-position: left;
    background-image: url('../img/psylocybe-cubensis.jpg');
}

.contact-background {
    background-position: center;
    background-image: url('../img/hermes trismegistos - B-W.jpg');
}

.background-main {
    background-position: center;
    background-image: url('../img/background.jpg');
}

.contenti {
    margin-top: 50px;
    height: 100%;
    flex: 1;
    padding: 40px;
}

#contented {
    margin-bottom: 40px;
}

body {

}

.center {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    border-radius: 10px;
}


.grid {
    display: grid;
    alignment: center;
}

.grid.graphics {
    grid-template-columns: 100%;
}

.grid50-50 {
    grid-template-columns: 50% 50%;
}

.grid40-60 {
    grid-template-columns: 40% 60%;
}

.grid.list {
    grid-template-columns: 33% 34% 33%;
}

.grid.single-graphic {
    grid-template-columns: 66% 34%;
}

.frameRound {
    border-style: solid;
    border-radius: 10px;
    border-color: #202020;
    border-width: 3px;
    width: 90%;
    transition: 0.4s;
}

.frameRound:hover {
    border-color: #6f6f6f;
}

.captcha {
    width: 30%;
    height: 30%;
    text-align: center;
    transition: 0.3s;
    display: grid;
    alignment: center;
    grid-template-columns: 10% 10% 10% 10% 10%;
}

.captcha-field {
    width: 100%;
    height: fit-content;
    background-color: #000000;
    transition: 0.3s;
    margin: 0;
}


.fill-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.centered-margin {
    margin-left: 20%;
    margin-right: 20%;
}


.topdata {
    position: fixed;
    max-width: 100%;
    max-height: 70%;
    margin: auto auto 50%;
    left: 50%;
    top: 30%;
    /*bottom: -30%;*/
    transform: translate(-50%, -30%);
    display: block;
    z-index: 8;
}

.bolded {
    font-weight: bold;
}


#errorRedirectView form label:not(#mailsFromUsLabel):not(#countryLabel):not(#categoryLabel), #errorRedirectView2 form label:not(#mailsFromUsLabel):not(#countryLabel2):not(#categoryLabel2), .warning {
    font-size: 14px;
    color: red;
    font-weight: bold;

}

.aproved{
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.image-graphic-graph {
    width: 100%;
    height: 400px;
    text-align: center;
}

.image-graphic {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    transition: 0.3s;
}

.image-graphic:hover {
    border-width: 6px;
    border-color: #656e66;
}

.size-graphic{
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
}

a {
    color: #888888;
    text-decoration: none;
}

a:visited {
    color: #888888;
    text-decoration: none;
}

a:hover {
    color: #6f6f6f;
    text-decoration: underline;
}

a:active {
    color: #aaaaaa;
    font-weight: bold;
}

@media screen and (max-width: 1060px) {
    .contenti {
        margin-top: 100px;
    }
}

@media screen and (max-width: 551px) {

    .grid.graphics {
        grid-template-columns: 100%;
    }

    .grid50-50 {
        grid-template-columns: 100%;
    }

    .grid.list {
        grid-template-columns: 100%;
    }

    .grid.single-graphic {
        grid-template-columns: 100%;
    }

    .image-graphic-graph {
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }

    .image-graphic {
        object-fit: cover;
        max-width: 80%;
        min-width: 80%;
        max-height: 300px;
        overflow: auto;
        border-style: solid;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        transition: 0.3s;
    }

    .contenti {
        margin-top: 150px;
    }


}

@media screen and (max-width: 299px) {
    .contenti {
        margin-top: 230px;
    }
}


.thumbnailV{
    max-width: 70px;
    min-width: 70px;
    object-fit: cover;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    transition: 0.3s;
}

.thumbnailV:hover{
    border-color: #343434;
}

.thumbnailV:active{
    border-color: #888888;
}

.small-subtitle{
    font-size: 10px;
    color: #636363;
}

.thumbnailB{
    vertical-align: center;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


