.headerV {
    overflow: hidden;
    position: fixed;
    height: fit-content;
    margin-right: 40px;
    width: 100%;
    background-color: black;
    -webkit-box-shadow: 0 8px 6px -9px #aaaaaa;
    -moz-box-shadow: 0 8px 6px -9px #aaaaaa;
    box-shadow: 0 8px 6px -9px #aaaaaa;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
}

.headerV a {
    float: left;
    color: #aaaaaa;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: 0.3s;

}

.basket, #user-name, #admin-name{
    float: right;
    color: #aaaaaa;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: 0.3s;

}



.header a.logo {
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;

}

.header a:hover {
    background-color: #656e66;
    color: white;
    transition: 0.3s;

}

.header a.active {
    background-color: #858872;
    color: #000000;
    transition: 0.3s;

}

.header-right {
    float: left;
}

.header-left {
    float: right;
}
.footer-down{
    margin-top: 95%;
}

#player{
    margin-left: 10%;
}

#player a:hover{
    background-color: #888888;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: left;
        display: block;
        text-align: left;
        height: fit-content;
        width: fit-content;
        transition: 0.3s;
    }

    .basket, #user-name, #admin-name{
        float: right;
        color: #aaaaaa;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        transition: 0.3s;

    }

    .header-right {
        float: left;
    }

    .header-left {
        float: left;
    }

    .footer-down{
        margin-top: 95%;
    }

    .move-to-next-line{
        clear: both;
    }

    #footer{
        font-size: xx-small;
    }
}

