<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <br>
        <br>
        <h2>Mateusz Niedbał Art</h2>
        <p>Inspired among others by Hieronimus Bosch and Joel Peter Witkin </p>
        <p>I follow a new wave of a dark fantasy art. </p>
        <p>I penetrate the deepest places of a human morality. </p>
        <p>I observe a subconscious reality and I make a documentary of it. </p>
        <p>I look on it through an old mystic mirror, trying to catch hidden moments of life. </p>
        <p>In my pictures I watch the world from a perspective of our inevitable destiny, </p>
        <p>sure that our civilization is only a piece of sand on a desert of eternity. </p>
        <p>In my works macabre and grotesque shows nonsense of some of our behaviors. </p>
        <p>Fascinated in old Dutch and Flemish paintings I create large images full of elements, </p>
        <p>stories taken from religions and life. I put my scenes in a chaotic post- apocalyptic world. </p>
        <p>My works would make a vision of the Last Judgment or years after it on lands abandoned by gods. </p>
        <p>Fascinated in ancient cultures and religions I smuggle to my pictures symbols of the passed centuries. </p>
        <br>
        <img th:src="@{/img/picture-consumption.png}" src="../static/img/picture-consumption.png" alt="Consumption by Mateusz Niedbał"/>
        <br>
        <p>Finally my works comment the modern world with its chase for money and fame. </p>
        <p>I create beings, life forms crammed in old post-industrial graveyards of civilization, </p>
        <p>writhing around in agony caused by lost hopes and their physiology. </p>
        <p>I make humanoids infected by technology crying for freedom.</p>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>