<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software development - Mateusz Niedbał</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/textfield.css" th:href="@{/css/textfield.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <br>
        <h3>Mateusz Niedbał</h3>
        <img height="300" width="300" th:src="@{/img/log.jpg}" alt="Mateusz Niedbał">
        <p>Junior java developer</p>
        <p>Graphic designer</p>
        <p>Looking for a job :)</p>
        <a th:href="@{/cv_pdf}" target="_blank">HERE IS MY CV</a>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>