<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/textfield.css" th:href="@{/css/textfield.css}" rel="stylesheet" type="text/css">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <br><br>

        <form th:action="@{/token/{token} (token = ${token})}" method="post" th:object="${passwordDTO}">
            <span>User name: </span>
            <span th:text="*{userName}" th:field="*{userName}"></span><br>

            <div th:if="${err != null}">
                <div th:each="error : ${binding.getFieldErrors('password')}">
                    <label th:text="${error.getDefaultMessage()}"></label>
                    <br>
                </div>
            </div>
            <div th:if="${err != null}">
                <div th:each="error2 : ${binding.getGlobalErrors()}">
                    <label th:text="${error2.getDefaultMessage()}"></label>
                    <br>
                </div>
            </div>
            <input class="form-control-sm widerTextFields" type="password" id="pass2" th:field="*{password}"
                   placeholder="password"><br>
            <div th:if="${err != null}">
                <div th:each="error : ${binding.getFieldErrors('passwordConfirm')}">
                    <label th:text="${error.getDefaultMessage()}"></label>
                    <br>
                </div>
            </div>
            <div th:if="${err != null}">
                <div th:each="error2 : ${binding.getGlobalErrors()}">
                    <label th:text="${error2.getDefaultMessage()}"></label>
                    <br>
                </div>
            </div>
            <input class="form-control-sm widerTextFields" type="password" id="conf_pass2"
                   th:field="*{passwordConfirm}"
                   placeholder="password"><br>
            <div class="grid list">
                <br>
                <div class="center">
                    <div th:if="${wrong_recaptcha == 1}">
                        <label class="warning"
                               for="recaptcha">Are you a robot?</label>
                    </div>
                    <div id="recaptcha" th:value="${captchaResponse}" class="g-recaptcha centered-margin"
                         data-sitekey="6Ldyc9IZAAAAAL9YPNskEHdUxIhElSJnoqjyaIfq"></div>
                </div>
            </div>
            <br>
            <button class="ui-button button-darken width200" type="submit" >Reset</button>
            <br>
        </form>
        <br>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>