<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <h2>Contact</h2>
        <div style="    display: grid;
    grid-template-columns: 10% 80% 10%;
    alignment: center;">
            <div></div>
            <div class="center center-project-panel">
                <div id="errorRedirectView">
                    <form action="/contact" method="post" th:object="${message}">
                        <div th:if="${err == 'error'}">

                            <div th:each="error : ${binding.getFieldErrors('email')}">
                                <label style="color: red; font-weight: bold" th:text="${error.getDefaultMessage()}"
                                       for="email"></label>
                                <br>
                            </div>
                        </div>
                        <input class="login-textfield" type="text" id="email"
                               th:field="*{email}"
                               placeholder="Email"><br>

                        <div th:if="${err == 'error'}">

                            <div th:each="error : ${binding.getFieldErrors('subject')}">
                                <label style="color: red; font-weight: bold" th:text="${error.getDefaultMessage()}"
                                       for="subject"></label>
                                <br>
                            </div>
                        </div>
                        <input class="login-textfield" type="text" id="subject"
                               th:field="*{subject}"
                               placeholder="Subject"><br>

                        <div th:if="${err == 'error'}">
                            <div th:each="error : ${binding.getFieldErrors('message')}">
                                <label style="color: red; font-weight: bold" th:text="${error.getDefaultMessage()}"
                                       for="message"></label>
                                <br>
                            </div>
                        </div>
                        <textarea rows="15" class="login-textfield"
                                  style="vertical-align: text-top; line-height: 15px; height: 200px;" type="text"
                                  id="message"
                                  th:field="*{message}"
                                  placeholder="Message"></textarea><br>
                        <div th:if="${sent == 1}">
                            <span style="color: green">The message has been sent successfully</span>
                        </div>
                        <br>
                        <div></div>
                        <div class="grid list">
                            <br>
                            <div class="center">
                                <div th:if="${wrong_recaptcha == 1}">
                                    <label style="color: red; font-weight: bold"
                                           for="recaptcha">You're a robot?</label>
                                </div>
                                <div id="recaptcha" th:value="${captchaResponse}" class="g-recaptcha centered-margin"
                                     data-sitekey="6Ldyc9IZAAAAAL9YPNskEHdUxIhElSJnoqjyaIfq"></div>
                            </div>
                        </div>
                        <br>
                        <button class="button bigger-button" type="submit">Send</button>
                        <br>
                        <button class="button bigger-button" type="reset">Reset</button>
                        <br>
                    </form>
                </div>

            </div>
            <div></div>
        </div>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>

<!--<div class="captcha center">-->
<!--    <div th:each="field: ${mazeList}">-->
<!--        <div class="captcha-field" id="top_bottom_right_left" th:if="${field.isEqualFieldType('TOP_BOTTOM_RIGHT_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="top_bottom_right" th:if="${field.isEqualFieldType('TOP_BOTTOM_RIGHT')}">.</div>-->
<!--        <div class="captcha-field" id="top_bottom_left" th:if="${field.isEqualFieldType('TOP_BOTTOM_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="top_right_left" th:if="${field.isEqualFieldType('TOP_RIGHT_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="bottom_right_left" th:if="${field.isEqualFieldType('BOTTOM_RIGHT_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="top_bottom" th:if="${field.isEqualFieldType('TOP_BOTTOM')}">.</div>-->
<!--        <div class="captcha-field" id="top_left" th:if="${field.isEqualFieldType('TOP_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="top_right" th:if="${field.isEqualFieldType('TOP_RIGHT')}">.</div>-->
<!--        <div class="captcha-field" id="bottom_right" th:if="${field.isEqualFieldType('BOTTOM_RIGHT')}">.</div>-->
<!--        <div class="captcha-field" id="bottom_left" th:if="${field.isEqualFieldType('BOTTOM_LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="left_right" th:if="${field.isEqualFieldType('LEFT_RIGHT')}">.</div>-->
<!--        <div class="captcha-field" id="top" th:if="${field.isEqualFieldType('TOP')}">.</div>-->
<!--        <div class="captcha-field" id="bottom" th:if="${field.isEqualFieldType('BOTTOM')}">.</div>-->
<!--        <div class="captcha-field" id="right" th:if="${field.isEqualFieldType('RIGHT')}">.</div>-->
<!--        <div class="captcha-field" id="left" th:if="${field.isEqualFieldType('LEFT')}">.</div>-->
<!--        <div class="captcha-field" id="no_entries" th:if="${field.isEqualFieldType('NO_ENTRIES')}">.</div>-->
<!--    </div>-->
<!--</div>-->

<!--<img class="fill-img" th:src="@{/img/maze/TRLB.jpg}" src="../static/img/maze/TRLB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TRB.jpg}" src="../static/img/maze/TRB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TLB.jpg}" src="../static/img/maze/TLB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TLR.jpg}" src="../static/img/maze/TLR.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/RLB.jpg}" src="../static/img/maze/RLB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TB.jpg}" src="../static/img/maze/TB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TL.jpg}" src="../static/img/maze/TL.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/TR.jpg}" src="../static/img/maze/TR.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/RB.jpg}" src="../static/img/maze/RB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/LB.jpg}" src="../static/img/maze/LB.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/RL.jpg}" src="../static/img/maze/RL.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/T.jpg}" src="../static/img/maze/T.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/B.jpg}" src="../static/img/maze/B.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/R.jpg}" src="../static/img/maze/R.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/L.jpg}" src="../static/img/maze/L.jpg" alt="">-->
<!--<img class="fill-img" th:src="@{/img/maze/EMPTY.jpg}" src="../static/img/maze/EMPTY.jpg" alt="">-->