<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/textfield.css" th:href="@{/css/textfield.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contentj">
    <div class="center">
        <h1>Welcome</h1>
        <p>A digital portfolio of Mateusz Niedbał</p>
        <p>it has both - the artistic graphics and IT development.</p>
        <a href="https://mrndesign.herokuapp.com/">
            <button class="button bigger-button">Enter the website</button>
        </a><br>
        <img style="border-radius:50%; max-height: 70%; max-width: 80%" src="../static/img/mist2.jpg" th:src="@{/img/mist2.jpg}" alt="">
        <p>This website has been made by <i>Mateusz Niedbał</i></p>
    </div>
    <div>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>