<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/flying-object.css" th:href="@{/css/flying-object.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <h2>Artistic graphics by Mateusz Niedbał</h2>
    </div>
    <div class="center">
        <br>

        <div class="grid graphics">
            <div class="grid list">
                <div th:each="graphic: ${graphics}" class="grid list">
                    <a th:href="@{/graphics/{id} (id = ${graphic.getId()})}">
                        <div style="width: 300px; height: 300px; border-radius: 20px">
                            <img class="image-graphic" src="../static/img/mist2.jpg" th:src="${graphic.getImageUrl()}"
                                 style="height: 80%" th:alt="${graphic.getTitle()}"><br>
                            <span style="color: #aaaaaa; text-decoration: none;" th:text="${graphic.getTitle()}"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div style="position: fixed">
                    <form action="/search-graphic">
                        <label for="searchinput">
                            Search: </label>
                        <input id="searchinput" type="text">
                        <button type="submit" class="button">GO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${search == 1}" class="flier "><img th:src="@{/img/ufo.png}" src="../static/img/ufo.png" class="layer10" width="170" height="51" alt="Flying ufo"/></div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>