<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/flying-object.css" th:href="@{/css/flying-object.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/textfield.css" th:href="@{/css/textfield.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <br>


    <div class="center">
        <div>
            <div>
                <form action="/projects" method="post" th:object="${str}">
                    <input class="login-textfield" id="searchinput" type="text" th:field="*{searched}"
                           placeholder="Search"><br>
                    <button type="submit" class="button smaller-button">GO</button>
                </form>
            </div>
        </div>
        <span th:if="${noItemsFound == 1}" class="warning">
                             No items found
                        </span><br>
        <div class="center">
            <div th:each="project: ${projects}" class="frameRound" style="width: 80%; margin-left: 10%">
                <div>
                    <a style="color: #aaaaaa; width: fit-content; margin-left: 10%;" th:href="@{/projects/{id} (id = ${project.getId()})}">
                        <div>
                            <span>Project id: </span><span th:text="${project.getId()}"></span>
                        </div>
                        <h3 th:text="${project.getProjectTitle()}"></h3>
                        <div>
                            <span style="font-weight: bold">Release date: </span><span
                                th:text="${project.getProjectReleaseDate()}"></span>
                        </div>
                        <a th:href="@{${project.getProjectUrl()}}" target="_blank"><span
                                th:text="${project.getProjectUrl()}"></span></a>
                    </a>
                </div>

                <br>
            </div>
        </div>

        <!--                    <div>-->
        <!--                        <br>-->
        <!--                        <br>-->
        <!--                        <button class="button smaller-button">Add new picture</button>-->
        <!--                        <br>-->
        <!--                        <button class="button smaller-button">Order custom graphic</button>-->
        <!--                    </div>-->
    </div>
</div>

<div th:if="${noItemsFound == 1}" class="flier "><img th:src="@{/img/ufo.png}" src="../static/img/ufo.png"
                                                      class="layer10" width="170" height="51" alt="Flying ufo"/></div>

<div th:insert="fragments/nav :: footer"></div>
</body>
</html>