<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/textfield.css" th:href="@{/css/textfield.css}" rel="stylesheet" type="text/css">
</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center" style="color: #aaaaaa">
        <h2 th:text="${project.getProjectTitle()}"></h2>
        <div><span th:text="${project.getProjectDescription()}"></span></div>
        <a th:href="@{${project.getProjectUrl()}}"><span th:text="${project.getProjectUrl()}"></span></a><br>
        <div><span style="font-weight: bold">Release date: </span><span th:text="${project.getProjectReleaseDate()}"></span></div>
        <div><span style="font-weight: bold">Entry date: </span><span th:text="${project.getCreationDate()}"></span></div>
        <div><span style="font-weight: bold">Update date: </span><span th:text="${project.getUpdateDate()}"></span></div>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>