<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body class="project-background-list">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <br>
    <br>
    <div th:each="project: ${projects}" class="center frameRound" style="width: 40%">
        <a class="center" style="color: #aaaaaa" th:href="@{/projects/{id} (id = ${project.getId()})}">
            <div><span>Project id: </span><span th:text="${project.getId()}"></span></div>
            <h3  th:text="${project.getProjectTitle()}"> </h3>
            <div><span style="font-weight: bold">Release date: </span><span th:text="${project.getProjectReleaseDate()}"></span></div>
            <a th:href="@{${project.getProjectUrl()}}" target="_blank"><span th:text="${project.getProjectUrl()}"></span></a>
        </a>
        <br>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>