<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <br>
        <br>
        <h2 style="color: red">Registration temporary unavailable</h2>
        <p>I am very sory, but due the RODO rules </p>
        <p>it is not possible for me to safely keep your </p>
        <p>confidential data. </p>
        <p>Contact ADMIN if you'd like to see data for authorized members</p>
        <p>Default user is guest@guest.pl, password: guest123</p>
        <p>click here:</p>
        <br>
        <a href="/contact">
            <button class="button bigger-button">Contact me</button>
        </a>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>