<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software development - MRN Design</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="background-main">
<div th:insert="fragments/nav :: header"></div>
<div class="contenti">
    <div class="center">
        <br><br>
        <form action="/resetPassword" method="post" th:object="${resetForm}">
            <div th:if="${err != null}">
                <div th:each="error : ${binding.getFieldErrors('login')}">
                    <label class="warning" th:text="${error.getDefaultMessage()}"></label>
                    <br>
                </div>
            </div>
            <input class="login-textfield" type="text" id="login" th:field="*{login}"
                   placeholder="login"><br>
            <div class="grid list">
                <br>
                <div class="center">
                    <div th:if="${wrong_recaptcha == 1}">
                        <label class="warning"
                               for="recaptcha">You're a robot?</label>
                    </div>
                    <div id="recaptcha" th:value="${captchaResponse}" class="g-recaptcha centered-margin"
                         data-sitekey="6Ldyc9IZAAAAAL9YPNskEHdUxIhElSJnoqjyaIfq"></div>
                </div>
            </div>
            <button class="button bigger-button" type="submit">reset</button>
            <br>
        </form>
        <br>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>